In [1]:
import pandas_ta as pta
import yfinance as yf
import datetime as dt
import pandas as pd
import talib as ta

In [2]:
sample_per = 10000
stock = 'EURGBP=X'

end = dt.date.today()- dt.timedelta(days=2)
start = end - dt.timedelta(days=(sample_per))
interval = '1d'

In [3]:
dataframe = yf.download(stock, start=start, end=end, interval=interval)

[*********************100%***********************]  1 of 1 completed

In [4]:
dataframe

               Open     High      Low    Close  Adj Close  Volume
Date
1999-01-04  0.71140  0.71340  0.70870  0.71100    0.71100       0
1999-01-05  0.71280  0.71570  0.70780  0.71100    0.71100       0
1999-01-06  0.71000  0.71400  0.69990  0.70100    0.70100       0
1999-01-07  0.70050  0.71130  0.70040  0.70920    0.70920       0
1999-01-08  0.71030  0.71090  0.70250  0.70480    0.70480       0
...             ...      ...      ...      ...        ...     ...
2021-08-30  0.85720  0.85816  0.85669  0.85720    0.85720       0
2021-08-31  0.85736  0.85973  0.85667  0.85720    0.85720       0
2021-09-01  0.85863  0.86022  0.85744  0.85870    0.85870       0
2021-09-02  0.85971  0.86000  0.85760  0.85970    0.85970       0
2021-09-03  0.85816  0.85928  0.85623  0.85811    0.85811       0

[5884 rows x 6 columns]

In [5]:
adx = pta.adx(dataframe['High'], dataframe['Low'], dataframe['Adj Close'], timeperiod=14)
adx.columns

Index(['ADX_14', 'DMP_14', 'DMN_14'], dtype='object')

In [6]:
apo = pta.apo(dataframe['Adj Close'], fastperiod=12, slowperiod=26, matype=0)
apo

Date
1999-01-04         NaN
1999-01-05         NaN
1999-01-06         NaN
1999-01-07         NaN
1999-01-08         NaN
                ...
2021-08-30    0.001733
2021-08-31    0.002306
2021-09-01    0.002788
2021-09-02    0.003209
2021-09-03    0.003468
Name: APO_12_26, Length: 5884, dtype: float64

In [7]:
aroon = pta.aroon(dataframe['High'], dataframe['Low'], timeperiod=14)
aroon.columns

Index(['AROOND_14', 'AROONU_14', 'AROONOSC_14'], dtype='object')

In [8]:
bop = pta.bop(dataframe['Open'],dataframe['High'], dataframe['Low'],dataframe['Adj Close'])
bop

Date
1999-01-04   -0.085095
1999-01-05   -0.227848
1999-01-06   -0.638297
1999-01-07    0.798165
1999-01-08   -0.654762
                ...
2021-08-30    0.000000
2021-08-31   -0.052281
2021-09-01    0.025171
2021-09-02   -0.004147
2021-09-03   -0.016396
Name: BOP, Length: 5884, dtype: float64

In [9]:
cmo = pta.cmo(dataframe['Adj Close'], timeperiod=14)
cmo

Date
1999-01-04          NaN
1999-01-05          NaN
1999-01-06          NaN
1999-01-07          NaN
1999-01-08          NaN
                ...
2021-08-30    13.781239
2021-08-31    13.781239
2021-09-01    19.630840
2021-09-02    23.364071
2021-09-03    14.275149
Name: CMO_14, Length: 5884, dtype: float64

In [10]:
mom = pta.mom(dataframe['Adj Close'], timeperiod=10)
mom

Date
1999-01-04        NaN
1999-01-05        NaN
1999-01-06        NaN
1999-01-07        NaN
1999-01-08        NaN
               ...
2021-08-30    0.00657
2021-08-31    0.00637
2021-09-01    0.00670
2021-09-02    0.00822
2021-09-03    0.00153
Name: MOM_10, Length: 5884, dtype: float64

In [11]:
ppo = pta.ppo(dataframe['Adj Close'], fastperiod=12, slowperiod=26, matype=0)
ppo.columns

Index(['PPO_12_26_9', 'PPOh_12_26_9', 'PPOs_12_26_9'], dtype='object')

In [12]:
roc = pta.roc(dataframe['Adj Close'], timeperiod=10)
roc

Date
1999-01-04         NaN
1999-01-05         NaN
1999-01-06         NaN
1999-01-07         NaN
1999-01-08         NaN
                ...
2021-08-30    0.772374
2021-08-31    0.748682
2021-09-01    0.786383
2021-09-02    0.965380
2021-09-03    0.178616
Name: ROC_10, Length: 5884, dtype: float64

In [13]:
stoch = pta.stoch(dataframe['High'], dataframe['Low'], dataframe['Adj Close'], fastk_period=5, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)
stoch

            STOCHk_14_3_3  STOCHd_14_3_3
Date
1999-01-21            NaN            NaN
1999-01-22            NaN            NaN
1999-01-25      15.114658            NaN
1999-01-26       8.886794            NaN
1999-01-27       7.022924      10.341459
...                   ...            ...
2021-08-30      82.435502      79.317269
2021-08-31      85.879094      82.923986
2021-09-01      84.620429      84.311675
2021-09-02      88.117654      86.205726
2021-09-03      86.932041      86.556708

[5871 rows x 2 columns]

In [14]:
stochrsi = pta.stochrsi(dataframe['Adj Close'], timeperiod=14, fastk_period=5, fastd_period=3, fastd_matype=0)
stochrsi

            STOCHRSIk_14_14_3_3  STOCHRSId_14_14_3_3
Date
1999-01-04                  NaN                  NaN
1999-01-05                  NaN                  NaN
1999-01-06                  NaN                  NaN
1999-01-07                  NaN                  NaN
1999-01-08                  NaN                  NaN
...                         ...                  ...
2021-08-30            79.488945            77.222557
2021-08-31            83.745759            80.549872
2021-09-01            84.189927            82.474877
2021-09-02            90.086268            86.007318
2021-09-03            86.352814            86.876336

[5884 rows x 2 columns]

In [15]:
trix = pta.trix(dataframe['Adj Close'], timeperiod=30)
trix.columns

Index(['TRIX_30_9', 'TRIXs_30_9'], dtype='object')

In [16]:
willr = pta.willr(dataframe['High'], dataframe['Low'], dataframe['Adj Close'], timeperiod=14)
willr

Date
1999-01-04          NaN
1999-01-05          NaN
1999-01-06          NaN
1999-01-07          NaN
1999-01-08          NaN
                ...
2021-08-30   -14.928456
2021-08-31   -18.240653
2021-09-01   -12.969603
2021-09-02    -4.436782
2021-09-03   -21.797493
Name: WILLR_14, Length: 5884, dtype: float64

Volatility

In [17]:
natr = pta.natr(dataframe['High'], dataframe['Low'], dataframe['Adj Close'], timeperiod=14)
natr

Date
1999-01-04         NaN
1999-01-05         NaN
1999-01-06         NaN
1999-01-07         NaN
1999-01-08         NaN
                ...
2021-08-30    0.436988
2021-08-31    0.431273
2021-09-01    0.424889
2021-09-02    0.414022
2021-09-03    0.414045
Name: NATR_14, Length: 5884, dtype: float64

Cycle

In [18]:
cdl_pattern = pta.cdl_pattern(dataframe['Open'],dataframe['High'], dataframe['Low'], dataframe['Adj Close'])
cdl_pattern

,CDL_2CROWS,CDL_3BLACKCROWS,CDL_3INSIDE,CDL_3LINESTRIKE,CDL_3OUTSIDE,CDL_3STARSINSOUTH,CDL_3WHITESOLDIERS,CDL_ABANDONEDBABY,CDL_ADVANCEBLOCK,CDL_BELTHOLD,...,CDL_SPINNINGTOP,CDL_STALLEDPATTERN,CDL_STICKSANDWICH,CDL_TAKURI,CDL_TASUKIGAP,CDL_THRUSTING,CDL_TRISTAR,CDL_UNIQUE3RIVER,CDL_UPSIDEGAP2CROWS,CDL_XSIDEGAP3METHODS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,-100.0,0.0,0.0,0.0
2021-08-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-09-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-09-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-100.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-09-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-100.0,0.0,0.0,0.0,0.0,0.0,-100.0,0.0,0.0,0.0

In [19]:
import sys

pth_apple = "/Users/josesanchez/Desktop/Code/GitHub/StockPrediction/FileBase"
pth_win = "/Users/Usuario/Desktop/GitHub/StockPrediction/FileBase"
sys.path.append(pth_win)


from root_functions import add_indicators, up_down, full_prediction, full_prediction_binary, result, aprox_beneficios

In [20]:
data_base = add_indicators(dataframe)

/Users/Usuario/Desktop/GitHub/StockPrediction/FileBase\root_functions.py:182: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe['CDL_UNIQUE3RIVER'] = cdl_pattern.iloc[:,59].values
/Users/Usuario/Desktop/GitHub/StockPrediction/FileBase\root_functions.py:183: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe['CDL_UPSIDEGAP2CROWS'] = cdl_pattern.iloc[:,60].values
/Users/Usuario/Desktop/GitHub/StockPrediction/FileBase\root_functions.py:184: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe['CDL_XSIDEGAP3METHODS'] = cdl_pattern.iloc[:,61].values

In [21]:
data_base

,Open,High,Low,Close,Adj Close,Volume,200ema,50ema,20ema,14-high,...,CDL_SPINNINGTOP,CDL_STALLEDPATTERN,CDL_STICKSANDWICH,CDL_TAKURI,CDL_TASUKIGAP,CDL_THRUSTING,CDL_TRISTAR,CDL_UNIQUE3RIVER,CDL_UPSIDEGAP2CROWS,CDL_XSIDEGAP3METHODS
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-04,0.71140,0.71340,0.70870,0.71100,0.71100,0,0.711000,0.711000,0.711000,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-05,0.71280,0.71570,0.70780,0.71100,0.71100,0,0.711000,0.711000,0.711000,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-06,0.71000,0.71400,0.69990,0.70100,0.70100,0,0.707633,0.710608,0.710048,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-07,0.70050,0.71130,0.70040,0.70920,0.70920,0,0.708031,0.710553,0.709967,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-08,0.71030,0.71090,0.70250,0.70480,0.70480,0,0.707372,0.710327,0.709475,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-30,0.85720,0.85816,0.85669,0.85720,0.85720,0,0.866903,0.855139,0.854182,0.85919,...,100.0,0.0,0.0,0.0,0.0,0.0,-100.0,0.0,0.0,0.0
2021-08-31,0.85736,0.85973,0.85667,0.85720,0.85720,0,0.866807,0.855220,0.854469,0.85973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-09-01,0.85863,0.86022,0.85744,0.85870,0.85870,0,0.866726,0.855356,0.854872,0.86022,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-09-02,0.85971,0.86000,0.85760,0.85970,0.85970,0,0.866656,0.855526,0.855332,0.86022,...,-100.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-09-03,0.85816,0.85928,0.85623,0.85811,0.85811,0,0.866571,0.855628,0.855596,0.86022,...,-100.0,0.0,0.0,0.0,0.0,0.0,-100.0,0.0,0.0,0.0